/**/

@font-face {
  font-family: "rix_b";
  src: url("../font/rix_m_go_b.ttf") format("truetype"),
    url("../font/rix_m_go_b.eot") format("embedded-opentype"),
    url("../font/rix_m_go_b.woff") format("woff"),
    url("../font/rix_m_go_b.woff2") format("woff2");
}
@font-face {
  font-family: "rix_l";
  src: url("../font/rix_m_go_l.TTF") format("truetype"),
    url("../font/rix_m_go_l.eot") format("embedded-opentype"),
    url("../font/rix_m_go_l.woff") format("woff"),
    url("../font/rix_m_go_l.woff2") format("woff2");
}
@font-face {
  font-family: "rix_m";
  src: url("../font/rix_m_go_m.TTF") format("truetype"),
    url("../font/rix_m_go_m.eot") format("embedded-opentype"),
    url("../font/rix_m_go_m.woff") format("woff"),
    url("../font/rix_m_go_m.woff2") format("woff2");
}
/**/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #565760;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  display: none;
}

em,
address,
i {
  font-style: normal;
}

body {
  font-family: "돋움","Dotum", sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.blind {
  position: absolute;
  top: -99999px;
}

button,
label,
input {
  cursor: pointer;
}

.skip {
  text-align: center;
}

.skip a {
  display: block;
  position: absolute;
  top: -100px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #00529b;
  color: white;
  font-size: 20px;
}

.skip a:focus {
  top: 0;
}

.clearFix:after {
  content: "";
  display: block;
  clear: both;
}

.center {
  width: 1200px;
  margin: 0 auto;
  /*    background-color:rgba(255,0,0,0.5);*/
}


#container {
  width: 850px;
  padding-left: 40px;
}

#container .h4_tit {
  font-size: 16px;
  font-weight: 400;
  font-family: 'rix_b';
  transform: rotate(0.1deg);
  color: #544039;
  margin: 20px 0 0px;
  position: relative;
  padding-left: 24px;
}

#container .articleTitle {
  margin: 24px 0 12px;
  font-family: '돋움','Dotum';
  font-weight: bold;
  font-size: 12px;
  color: #544039;
}

#container .circle {
  /* display: block; */
  width: 3px;
  height: 3px;
  /* background-color: #fff; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10.5px;
  transform: translateY(-50%);
}

#container .h4_tit::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border: 3px solid #da2128;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  box-sizing: border-box;
}

#container .articleTitle {
  margin-left: 36px;
}

#container .textBox {
  margin-left: 36px;
  font-size: 12px;
}

#container .textBox li {
  margin: 2px 0;
}

#container .textBox ul > li > ul {
  margin-left: 12px;
}

#container .tabWrap ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

#container .tabWrap ul li {
  width: calc(100% / 8);
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'rix_l';
  border-top: 3px solid #544039;
  border-bottom: none;
  background-color: #d6d6d6;
  color: #544039;
  position: relative;
}

#container .tabWrap ul li:nth-child(4) {
  width: calc(100% / 5);
}

#container .tabWrap ul li:nth-child(5) {
  width: calc(100% / 3);
}

#container .tabWrap ul li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #c1c0bf;
  position: absolute;
  top: 0;
  left: 0;
}
.tabWrap ul li a{
  padding-left: 10px;
}

#container .tabWrap ul .on {
  border-bottom: none;
  border-top: 3px solid #da2128;
  background-color: #fff;
}

#container .tabWrap ul .on a {
  color: #da2128;
}

#container .download {
  border: 1px solid #ccc;
  float: right;
  margin: 12px 0;
  padding: 0 4px 0 4px;
  font-size: 12px;
}

#container .line {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 24px;
}




/*layout position absolute 수정사항*/
.contents_wrap {
  position: relative;
}

#container {
  /* overflow: auto; */
}


#container .contents_wrap {
  position: relative;
  top: 0px;
  margin-top: 55px;
}

#footer {
  position: absolute;
  /* margin-top: 50px; */
  bottom: -80px;
}

#wrapper {
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

#wrap {
  height: auto;
  /* min-height: auto !important; */
}

#container {
  /* padding-left: 0px; */
  /* float: none; */
}
/*0707 다운로드 화살표 정렬위해 클래스 추가-안선영프로*/
.plus-icon2{
  margin-left: -.3em;
}