/* snb 2dep */
/* .snb_2dep_area li .snb03_4 {background:url(../images/common/snb/snb03_04.gif) no-repeat;}
.snb_2dep_area li .snb03_4:hover {background:url(../images/common/snb/snb03_04on.gif) no-repeat;}
.snb_2dep_area li .snb03_4.active {background:url(../images/common/snb/snb03_04on.gif) no-repeat;} */

/* 메뉴 추가 */
.snb_2dep_area li .snb04_2 {background:url(../images/common/snb/snb_04_02.png) no-repeat;}
.snb_2dep_area li .snb04_2:hover {background:url(../images/common/snb/snb_04_02on.png) no-repeat;}
.snb_2dep_area li .snb04_2.active {background:url(../images/common/snb/snb_04_02on.png) no-repeat;}

.snb_2dep_area li .snb04_3 {background:url(../images/common/snb/snb_04_03.png) no-repeat;}
.snb_2dep_area li .snb04_3:hover {background:url(../images/common/snb/snb_04_03on.png) no-repeat;}
.snb_2dep_area li .snb04_3.active {background:url(../images/common/snb/snb_04_03on.png) no-repeat;}

.snb_2dep_area li .snb04_4 {background:url(../images/common/snb/snb_04_04.png) no-repeat;}
.snb_2dep_area li .snb04_4:hover {background:url(../images/common/snb/snb_04_04on.png) no-repeat;}
.snb_2dep_area li .snb04_4.active {background:url(../images/common/snb/snb_04_04on.png) no-repeat;}


.snb_2dep_area li .snb04_5 {background:url(../images/common/snb/snb_04_05.png) no-repeat;}
.snb_2dep_area li .snb04_5:hover {background:url(../images/common/snb/snb_04_05on.png) no-repeat;}
.snb_2dep_area li .snb04_5.active {background:url(../images/common/snb/snb_04_05on.png) no-repeat;}

.snb_2dep_area li .snb04_6 {background:url(../images/common/snb/snb_04_06.png) no-repeat;}
.snb_2dep_area li .snb04_6:hover {background:url(../images/common/snb/snb_04_06on.png) no-repeat;}
.snb_2dep_area li .snb04_6.active {background:url(../images/common/snb/snb_04_06on.png) no-repeat;}
/* 메뉴 추가*/


/* snb 3dep */
.snb_3dep_area li .snb03_4_1 {background:url(../images/common/snb/snb03_04_01.gif) no-repeat;}
.snb_3dep_area li .snb03_4_2 {background:url(../images/common/snb/snb03_04_02.gif) no-repeat;}
.snb_3dep_area li .snb03_4_1:hover {background:url(../images/common/snb/snb03_04_01on.gif) no-repeat;}
.snb_3dep_area li .snb03_4_2:hover {background:url(../images/common/snb/snb03_04_02on.gif) no-repeat;}
.snb_3dep_area li .snb03_4_1.on {background:url(../images/common/snb/snb03_04_01on.gif) no-repeat;}
.snb_3dep_area li .snb03_4_2.on {background:url(../images/common/snb/snb03_04_02on.gif) no-repeat;}
.snb_3dep_area li .snb03_4_1:focus {background:url(../images/common/snb/snb03_04_01on.gif) no-repeat;}
.snb_3dep_area li .snb03_4_2:focus {background:url(../images/common/snb/snb03_04_02on.gif) no-repeat;}
