// color
$메인컬러: #544039;
$red: #da2128;
@font-face {
  font-family: "rix";
  src: url("../font/Rix\ M\ Go\ B.ttf") format("truetype");
}

/*layout position absolute 수정사항*/
@mixin layoutModify {
  .contents_wrap {
    position: relative;
  }

  #container {
    /* overflow: auto; */
  }

  #container .contents_wrap {
    position: relative;
    top: 0px;
    margin-top: 55px;
  }

  #footer {
    position: absolute;
    /* margin-top: 50px; */
    bottom: -80px;
  }

  #wrapper {
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  #wrap {
    height: auto;
    /* min-height: auto !important; */
  }

  #container {
    /* padding-left: 0px; */
    /* float: none; */
  }
}

@mixin tab {
  ul {
    display: flex;
    justify-content: center;

    > li {
      width: calc(100% / 3);
      text-align: center;
      padding: 6px 0;
      font-size: 13px;
      font-weight: bold;
      border-top: 3px solid $메인컬러;
      border-bottom: none;
      background-color: #d6d6d6;
      font-family: "rix";
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: #d1d1d1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .on {
      border-bottom: none;
      background-color: #fff;
      border-top: 3px solid $red;
      a {
        color: $red;
      }
    }
  }
}

#container {
  width: 850px;

  .mainTitle {
    font-family: "rix";
    font-weight: 500;
    font-size: 28px;
    color: $메인컬러;
    line-height: 1.2;

    span {
      color: $red;
    }
  }

  .h4_tit {
    margin: 24px 0;
    font-size: 16px;
    font-weight: bold;
    font-family: "rix";
    color: $메인컬러;
    img {
      padding: 4px;
      position: relative;
      top: -1px;
    }
  }
}

.Gulim {
  font-family: "굴림", "Gulim";
}

@include layoutModify();
/***********************CSR08*****************************/
.csr_08_01_wrap {
  font-family: '돋움','Dotum',sans-serif;
  .mainTitle{
    letter-spacing: -0.05em;
  }
  .h3_tit {
    font-size: 20px;
    font-family: "rix";
    color: $메인컬러;
    padding: 32px 0 12px 0;
    letter-spacing: -0.08em;
  }
  .textBox{
    p{
      margin: 24px 0;
    }
  }
  
  .imgWrap{
    text-align: center ;
    margin: 12px 0 60px;
  
  }

  .videoWrap{
    p{
      padding: 12px 0 8px;
      span{
        color: $red;
      }
    }
  }

  .line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 4px 0;
  }

}

/***********************CSR07*****************************/

.csr_07_wrap {
  /*textWrap*/
  .textWrap {
    .leftWrap {
      float: left;
      width: 50%;
      .textBox {
        margin-top: 24px;
      }
    }
    .rightWrap {
      float: right;
      width: 50%;
    }
    .textBox {
      margin-top: 24px;
      white-space: nowrap;
    }

    .pt12 {
      padding-top: 12px;
    }
  }

  /*graphWrap*/
  .graphWrap {
    position: relative;
    top: 60px;
    text-align: center;
    img {
      width: 100%;
    }
  }

  /*certificateWrap*/
  .certificateWrap {
    margin-top: 160px;
    position: relative;
    .certi_title {
      margin: 12px 0;
      display: block;
    }
    .line {
      background-color: #ccc;
      width: 100%;
      height: 1px;
      margin-bottom: 20px;
    }
    .leftWrap {
      width: 400px;
      float: left;
      li {
        padding: 12px 0;
        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .cTitle {
        float: left;
        width: 100px;
        font-family: "rix";
        font-weight: bold;
        display: block;
      }
      .cDate {
        float: right;
        width: 300px;
      }
    }

    .rightWrap {
      width: 400px;
      color: $메인컬러;
      float: right;
      .imgWrap {
        display: flex;
        justify-content: space-between;
        img {
          margin: 0 8px;
          position: relative;
          top: 10px;
          left: -40px;
        }
      }
    }
  }
}

/***********************CSR06*****************************/
.tabWrap {
  @include tab();
}
.csr_06_wrap {
  /***********************안전보건방침*********************************/
  .csr_06_01_wrap {
    .mainTitle {
      padding: 40px 0 24px;
    }
    .h3_tit {
      font-size: 20px;
      font-weight: bold;
      font-family: "rix";
      color: $메인컬러;
      padding: 80px 0 12px 0;
    }
    img {
      width: 100%;
    }
  }
  /***********************경영활동*********************************/
  .csr_06_02_wrap {
    .csr_06_02_01,
    .csr_06_02_02,
    .csr_06_02_03,
    .csr_06_02_04 {
      display: flex;
      justify-content: space-around;
    }

    .csr_06_02_01 {
      padding-top: 24px;
    }

    .csr_06_02_04 {
      .rightWrap {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 2px;
            p {
              text-align: center;
            }
            img {
              padding: 20px 0 0 0;
            }
          }
        }
      }
    }

    img {
      padding: 20px 0;
    }
    .leftWrap {
      float: left;
      width: 50%;
    }

    .rightWrap {
      float: right;
      width: 50%;
      li {
        p {
          padding-top: 8px;
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background: #ccc;
      margin: 12px 0;
    }

    .textBox {
      padding-left: 24px;
    }
  }
  /***********************경영인증*********************************/
  .csr_06_03_wrap {
    .pt12 {
      padding-top: 12px;
    }
    .certifiWrap {
      margin-top: 40px;
    }
    .leftWrap {
      float: left;
      width: 50%;
      display: flex;
      box-sizing: border-box;
      .textBox {
        padding-left: 24px;
      }
    }
    .rightWrap {
      float: right;
      width: 50%;
      display: flex;
      box-sizing: border-box;
      .textBox {
        padding-left: 24px;
      }
    }
    .textBox {
      li {
        padding: 4px 0;
        position: relative;
        img {
          padding: 8px 0;
        }
        span {
          position: absolute;
          top: 12px;
          right: -4px;
          font-weight: bold;
          font-family: "rix";
        }
        .pl12 {
          // padding-left: 4px;
        }
      }
    }

    .borderB {
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: #ccc;
      margin: 0px 0 40px;
    }

    .pt40 {
      padding-top: 40px;
    }
    .pb24 {
      padding-bottom: 24px;
      border-bottom: 1px solid #ccc;
    }
  }
}

/***********************CSR05*****************************/
.csr_05_wrap {
  /*textWrap*/
  .textWrap {
    .leftWrap {
      float: left;
      width: 50%;
      .textBox {
        margin-top: 24px;
      }
    }
    .rightWrap {
      float: right;
      width: 50%;
    }
    .textBox {
      margin-top: 24px;
      white-space: nowrap;
    }

    .pt12 {
      padding-top: 12px;
    }
  }

  /*graphWrap*/
  .graphWrap {
    position: relative;
    top: 60px;
    text-align: center;
    img {
      width: 100%;
    }

 

  }

  /*certificateWrap*/
  .certificateWrap {
    margin-top: 160px;
    position: relative;
    .certi_title {
      margin: 12px 0;
      display: block;
    }
    .line {
      background-color: #ccc;
      width: 100%;
      height: 1px;
      margin-bottom: 20px;
    }
    .leftWrap {
      width: 400px;
      float: left;
      li {
        padding: 12px 0;
        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .cTitle {
        float: left;
        width: 100px;
        font-family: "rix";
        font-weight: bold;
        display: block;
      }
      .cDate {
        float: right;
        width: 300px;
      }
    }

    .rightWrap {
      width: 400px;
      color: $메인컬러;
      float: right;
      .imgWrap {
        display: flex;
        justify-content: space-between;
        img {
          margin: 0 8px;
          position: relative;
          top: 10px;
          left: -40px;
        }
      }
    }
  }
}

/***********************CSR04*****************************/
.csr_04_wrap {
  .textWrap {
    font-family: "돋움", "Dotum", sans-serif;
    letter-spacing: -0.08em;
    span {
      color: $red;
    }
  }
  .graphWrap {
    width: 100%;
    margin-top: 80px;
  }
  .infoWrap {
    margin-top: 80px;
    .h3_tit {
      font-family: "rix", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: $메인컬러;
      border-bottom: 1px solid #ccc;
      padding: 24px 0 12px 0;
      letter-spacing: -0.05em;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // margin-top: 40px;
      .mt32 {
        margin-top: 32px;
      }
      li {
        margin-top: 60px;

        .textBox {
          letter-spacing: -0.05em;
          line-height: 1.6;
          font-family: "돋움", "Dotum", sans-serif;
        }
      }
    }
  }
}

/***********************CSR03*****************************/

.csr_03_wrap {
  font-family: "돋움", "Dotum", sans-serif;
  .imgWrap {
    float: left;
    margin-top: 80px;
  }
  .rightWrap {
    float: right;
    margin: 110px 50px 0 0px;
    .textWrap {
      letter-spacing: -0.05em;
      .textBox {
        line-height: 1.6;
      }
    }
    table {
      border-collapse: collapse;
      font-size: 13px;
      text-align: center;
      margin: 32px 0 40px;
      th {
        color: $메인컬러;
        font-weight: bold;
        font-family: "rix";
        background-color: #e4e4e4;
        border: 1px solid #d1d1d1;
        border-top: 3px solid $메인컬러;
        padding: 8px 20px;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      td {
        border: 1px solid #d1d1d1;
        padding: 8px 20px;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
